body {
    background: lightgrey;
} 

.qbox1, .qbox2, .qbox3 {
    box-sizing: border-box;
}


.qbox1 {
   margin: 20px; 
   border: 15px solid black; 
   padding: 10px 15px;
   width: 500px; 
   background: white;
   border-radius: 20px;
   font-family:'tangerine', 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
   font-size: 40px;
}

.qbox2 {
    margin: 20px;
    border: 25px dotted royalblue;
    padding: 20px 35px;
    width: 500px;
    background: lightpink;
    border-radius: 90px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.qbox3 {
    margin: 20px;
    border: 35px solid darkred;
    padding: 30px;
    width: 500px;
    background: tan;
    border-radius: 45px;
    font-family:'Qwitcher Grypen', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 40px;
}

