
h1 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color:rgb(153, 43, 43)
}

form {
    color:rgb(153, 43, 43);
    background-color:rgb(171, 248, 162);
    padding: 30px;
    border-radius: 30px;
    border:rgb(100, 0, 2) dotted 3px;

}

input {
    background-color: rgb(100, 0, 2);
    color: white;
}

label {
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: large;
}

button {
    background-color: rgb(100, 0, 2);
    color: white;
}
