/*Color Palette Colors #9B7A59-darkerbrown #C59855-brown/tan #113B51-darkblue #3573B0-light blue*/

.satisfy-regular {
    font-family: "Satisfy", cursive;
    font-weight: 400;
    font-style: normal;
  }
  
  .quicksand {
    font-family: "Quicksand", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
  }


#content {
  max-width: 1900px;
  margin: 0 auto;
    /****background: white;****/
}

body {
  background-color: white;  
  margin: 0;
  padding: 0;
  font-family: "Quicksand";
  text-align: center;
  font-size: 22px;
}

header {
    display: flex;
    /*grid-template-columns: 150px auto;*/
    background-color: #3573B0;
}

.logo {
    width: 80px;
    margin: 15px;
} /****NEW PIECE****/


.logo_link {
    justify-self: center;
    align-self: center;
    /*****padding-top: 5px;*****/
}


/****Navigation****/

nav {
    display: flex;
    justify-content: space-around;
}

nav a {
    text-align: center;
    color: white;
    text-decoration: none;
    padding: 35px;
}

nav a:hover {
    background-color: white;
    color: #113B51;
}



/*********Images and others*******/

#hero-box {
    position: relative;
    z-index: 1; 
    overflow: hidden;
}

#hero-msg {
    color: white;
    margin-top: -50px;
}

#hero-img {
    width: 120%;
    overflow: hidden;
    filter: brightness(50%);
    z-index: 0;
}

#hero-box h1 {
    z-index: 2;
    text-align: center;
    color: white;
    position: absolute;  /* Position absolutely within the #hero-box */
    top: 50%;  /* Position the h1 vertically in the middle (adjust as needed) */
    left: 50%;  /* Position the h1 horizontally in the middle */
    transform: translate(-50%, -50%);  /* This will center the h1 */
    font-family: "Satisfy";
    font-size: 3em;  /* Adjust size as needed */
}



#hero-msg h1, #hero-msg h4 {
    text-align: center;
    color: white;
}

.msg p {
    background-color: #3573B0;
    color: white;
    padding: 25px;
    font-family: "Quicksand", Verdana, Geneva, Tahoma, sans-serif;
    font-size: .8em;
    margin: 20px 0px;
    line-height: 1.5em;
    justify-items: left;
    text-align: left;
    box-shadow: 5px 5px 10px #6f7364;
    border-radius: 25px;
    margin: 40px;
    margin-left: 70px;
    margin-right: 70px;
}

.msg h2 {
    color: #3573B0;
    font-family: "Satisfy";
    text-align: left;
    margin: 70px;
    margin-bottom: -10px;
}   

main section {
    text-align: center;
    box-sizing: border-box;
}

.home-grid {
    display: grid;
    /*grid-template-columns: repeat(10, 1fr);*/
    height: auto;
}

/*.teamwork-card, .experience-card, .views-card {
    margin: 200px 0;
}*/

.card-img {
    border: 5px solid #113B51;
    border-radius: 25px;
    width: 100%;
    transition: transform .5s;
    box-shadow: 5px 5px 10px #6f7364
}

.card-img:hover {
    opacity: .6;
    transform: scale(1.1);
}



/***Sections Start***/

.teamwork-card {
    display: flex;
    align-items: center; /* Aligns the items vertically */
    justify-content: flex-start; /* Aligns the items to the left */
    padding: 20px;
}

.teamwork-card img {
    height: 600px;
    max-height: 100%;
    width: auto;
    margin-right: 30px; /* Adds space between the image and the text */
}

.teamwork-card .teamwork-card-content {
    flex: 1; /* Ensures the text takes the remaining space */
    font-family: "Quicksand", sans-serif;
    color: #113B51;
}

.teamwork-card-content {
    text-align: left;
}

.teamwork-card-content p {
    font-size: small;
}

.teamwork-card-content h5 {
    margin-top: -20px;
    color: #9B7A59;
}



.experience-card {
    display: flex;
    justify-content: flex-end; /* Aligns the items vertically */
    align-items: center; /* Aligns the items to the center */
    padding: 20px;
    flex-direction: row-reverse;
}

.experience-card img {
    max-height: 100%;
    margin-left: 30px; /* Adds space between the image and the text */
    align-items: right;
}

.experience-card h3 {
    color: #113B51;
}


.waterfall {
    width: 400px;
    height: auto;
}

.rocks {
    width: 400px;
    height: auto;
    margin-bottom: 35px;
}

.paddles {
    width: 400px;
    height: auto;
}

.groupedpics {
    flex-flow: column wrap;
}


.experience-card-content {
    text-align: right;
}

.experience-card-content p {
    font-size: small;
}

.experience-card-content h5 {
    margin-top: -20px;
    color: #9B7A59;
}



.views-card {
    display: flex;
    align-items: left; /* Aligns the items vertically */
    justify-content: flex-start; /* Aligns the items to the left */
    padding: 20px;
}

.views-card img {
    height: 700px;
    max-height: 100%; 
    width: auto;
    margin-right: 30px; /* Adds space between the image and the text */
}

.views-card .views-card-content {
    flex: 1; /* Ensures the text takes the remaining space */
    font-family: "Quicksand", sans-serif;
    color: #113B51;
}

.views-card-content p {
    font-size: small;
}

.views-card-content {
    text-align: left;
}

.views-card-content h5 {
    margin-top: -20px;
    color: #9B7A59;
}


/****Sections end***/


/****Texts*****/
.home-title {
    color: #113B51;
    font-family: "Satisfy";
    font-size: 2em;
    margin-top: 10px;
}

h2 {
    /**I don't have a color here***/
    margin: 0;
    font-family: "Quicksand", Verdana, Geneva, Tahoma, sans-serif;
}

h4 {
    color: #113B51;;
}

/****Footer***/
footer {
    background-color: #C59855;
    color: #113B51;
    margin-top: 200px;
    padding: 25px 50px;
    display: flex;
    justify-content: space-around;
    font-family: "Quicksand", Verdana, Geneva, Tahoma, sans-serif;
    align-items: center;
}

footer a {
    color: #113B51;
    text-decoration: none;
}

footer a:hover {
    color: white;
}

footer p {
    font-size: 1.2em;
}

footer p a:hover {
    text-decoration: underline;
}



/*This goes at the very end of css*/


@media screen and (max-width: 900px) {
    #hero, .home-grid {
        display: block;
        height: auto;
    }
    nav, footer {
        flex-direction: column;
    }
    nav a {
        display: block;
        padding: 15px;
    }
    #hero {
        margin-top: 0;
    }
    #hero-msg {
        margin-top: 0;
    }
    #hero-msg h4 {
        display: none;
    }
    #hero-msg h1 {
        color: #6f7364;
    }
    .home-title {
        font-size: 25px;
    }
    .teamwork-card, .experience-card, .views-card { 
        margin: 50px auto;
        width: 60%;
    }
    #background {
        display: none;
    }
    .mountains, .msg {
        width: 80%;
        display: block;
        margin: 0 auto;
    }
    footer {
        margin-top: 25px;
    }
}
            