/*Color Palette Colors #9B7A59-darkerbrown #C59855-brown/tan #113B51-darkblue #3573B0-light blue*/

.satisfy-regular {
    font-family: "Satisfy", cursive;
    font-weight: 400;
    font-style: normal;
  }
  
  .quicksand {
    font-family: "Quicksand", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
  }


body {
  background-color: white;  
  margin: 0;
  padding: 0;
  font-family: "Quicksand";
}

header {
    background-color: #3573B0;
    display: grid;
    grid-template-columns: 150px auto;
}

nav {
    display: flex;
    justify-content: space-around;
}

nav a:hover {
    background-color: white;
    color: #113B51;
}

.book, .join {
    background-color: #113B51;
    color: white;
    text-decoration: none;
    padding: 15px 30px;
    margin-top: 50px;
    border-radius: 5px;
    font-size: 18px;
}

.book:hover, .join:hover {
    background-color: #9B7A59;
    color: white;
}

.msg {
    background-color: #3573B0;
    padding: 35px;
    line-height: 1.5em;
    grid-area: 6 / 6 / 7 / 10;
    box-shadow: 5px 5px 10px #6f7364;
}

footer {
    background-color: #C59855;
    color: #113B51;
    padding: 25px 50px;
    margin-top: 200px;
    font-family: "Quicksand", Verdana, Geneva, Tahoma, sans-serif;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#background {
    height: 725px;
    background-color: white;
}




#content {
    max-width: 1600px;
    margin: 0 auto;
    background: white;
}

nav a {
    text-align: center;
    color: white;
    text-decoration: none;
    padding: 35px;
}

#hero-msg h1, #hero-msg h4 {
    text-align: center;
    color: white;
}

#hero {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
}

#hero-box {
    grid-column: 1 / 4;
    grid-row: 1 / 3;
}

#hero-msg {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
}

.home-grid {
    display: grid;
    grid-template-columns: repeat 10(1fr);
}

.card-img, .mountains {
    width: 100%;
}


.river-card {
    grid-area: 2 / 2 / 3 / 4
}

.camping-card {
    grid-area: 2 / 5 / 3 / 7;
}

.rapids-cards {
    grid-area: 2 / 8 / 3 / 10;
}

#background {
    grid-area: 4 / 1 / 9 / 11;
}

.mountains {
    grid-area: 5 / 2 / 8 / 7;
    width: 100%;
    box-shadow: 5px 5px 10px #6f7364;
}



.button-box {
    text-align: center;
}

main section {
    text-align: center;
}

main section img {
    box-sizing: border-box;
}

.home-title {
    color: #113B51;
    font-family: "Satisfy";
    font-size: 2em;
    margin-top: 10px;
}

h2 {
    margin: 0;
    font-family: "Quicksand", Verdana, Geneva, Tahoma, sans-serif;
}

h4 {
    color: #3573B0;
}

.msg h2 {
    color: white;
    font-family: "Satisfy";
}     

.msg p {
    color: white;
    padding-bottom: 15px;
    font-family: "Quicksand", Verdana, Geneva, Tahoma, sans-serif;
    font-size: .8em;
}

footer a {
    color: #113B51;
    text-decoration: none;
}

footer a:hover {
    color: white;
}

footer p {
    font-size: 1.2em;
}

footer p a:hover {
    text-decoration: underline;
}

.logo, .icon {
    width: 80px;
}

#hero-img {
    width: 100%;
}


.logo_link {
    padding-top: 5px;
}

.icon {
    padding-top: 10px;
}

footer .social img {
    padding-top: 15px;
}

.rivers-card, .camping-card, .rapids-card {
    margin: 200px 0;
}

.card-img {
    border:10px solid white;
    transition: transform .5s;
    box-shadow: 5px 5px 10px #6f7364
}

.card-img:hover {
    opacity: .6;
    transform: scale (1.1);
}

#logo_link {
    padding-top: 5px;
    justify-self: center;
    align-self: center;
}



/*This goes at the very end of css*/


@media screen and (max-width: 900px) {
    #hero, .home-grid {
        display: block;
        height: auto;
    }
    nav, footer {
        flex-direction: column;
    }
    nav a {
        display: block;
        padding: 15px;
    }
    #hero {
        margin-top: 0;
    }
    #hero-msg {
        margin-top: 0;
    }
    #hero-msg h4 {
        display: none;
    }
    #hero-msg h1 {
        color: #6f7364;
    }
    .home-title {
        font-size: 25px;
    }
    .rivers-card, .camping-card, .rapids-card { 
        margin: 50px auto;
        width: 60%;
    }
    #background {
        display: none;
    }
    .mountains, .msg {
        width: 80%;
        display: block;
        margin: 0 auto;
    }
    footer {
        margin-top: 25px;
    }
}
            