/******Colors
  --primary-color: #153243; blue
  --secondary-color: #AF3E4D; pink
  --accent1-color: #788BFF;
  --accent2-color: #B4B8AB;
  --accent3-color: #CB8CF2;
  --accent4-color: white;
  *****/



/*****Navigation*****/

header {
    display: grid;
    grid-template-columns: 300px auto; /*Controls the relationship between the columns for the logo and the rest of the nav. Creates spacing between the logo and nav.*/
    background-color: white;
    box-shadow: 10px; /*Haven't figured out how to make this work*/
    margin-bottom: 50px;
}

.logo {
    width: 250px; /*Controls image size*/
    margin: 20px;
} /****NEW PIECE****/


.logo_link {
    justify-self: center;
    align-self: center;
}


nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

nav a {
    text-align: center;
    color: #153243;
    text-decoration: none;
    padding: 35px;
}

nav a:hover {
    background-color: #788BFF;
    color: white;
}


/********************************/

#Logos {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(10, 1fr);
    /*row-gap: 10px;*/
    column-gap: 70px;
}

.archery {
    grid-column: 2 / 6;
    grid-row: 1 / 5;
}

.archery img{
    display: flex;
    width: 80%;
    height: auto;
}

.khsdistrict {
    grid-column: 6 / 10;
    grid-row: 1 / 5;
}

.khsdistrict .khsdistrict-images {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}

.khsdistrict .khsdistrict-images img {
    width: 100%;
    height: auto;
}

.etsy {
    grid-column: 2 / 6;
    grid-row: 6 / 10;
}

.etsy img {
    display: flex;
    width: 100%;
    height: auto;
}

.etsy .etsycontent-container {
    display: flex;
}

.etsy .etsytext-container {
    gap: 10px;
}

.etsy .etsycontent-container img {
    width: 50%;
    height: 50%;
}

.khssoftware {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column: 6 / 10;
    grid-row: 6 / 10;
    column-gap: 20px; /* Gives me a gap between columns I think*/
}

.khssoftware .khssoftwareimage-container {
    grid-column: 1 / 3;
}

.khssoftware .khssoftwareimage-container img {
    display: flex;
    width: 100%;
    height: auto;
}

.khssoftware .khssoftwaretext-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    grid-column: 3;
}










/***********Footer*******/

footer {
    background-color: #B4B8AB;
    color: #113B51;
    margin-top: 200px;
    padding: 25px 50px;
    display: flex;
    justify-content: space-around;
    font-family: "Quicksand", Verdana, Geneva, Tahoma, sans-serif;
    align-items: center;
}

footer a {
    color: #113B51;
    text-decoration: none;
}

footer a:hover {
    color: white;
}

footer p {
    font-size: 1em;
    margin: 20px;
}

footer p a:hover {
    text-decoration: underline;
}

.social {
    width: 10px;
    height: auto;
}

.fa {
    padding: 20px;
    font-size: 30px;
    width: 20px;
    text-align: center;
    text-decoration: none;
    background: #007bb5;
    color: white;
  }



/*Image slider css*/

  * {box-sizing: border-box;}

.img-comp-container {
  position: relative;
  height: 200px; /*should be the same height as the images*/
}

.img-comp-img {
  position: absolute;
  width: auto;
  height: auto;
  overflow: hidden;
}

.img-comp-img img {
  display: block;
  vertical-align: middle;
}

.img-comp-slider {
  position: absolute;
  z-index: 9;
  cursor: ew-resize;
  /*set the appearance of the slider:*/
  width: 40px;
  height: 40px;
  background-color: #2196F3;
  opacity: 0.7;
  border-radius: 50%;
}




